.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.search-form {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
}

.category-ul {
  width: 70%;
  margin: auto;
  font-size: 20px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.category-item {
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-left: 5px;
  cursor: pointer;
  padding: 4px;
}

.selected {
  background-color: #DCDCDC;
  border-radius: 8px;
}

.category-item:hover {
  color: #1C84FF;
}

.category-header {
  cursor: pointer;
}

.category-header:hover {
  color: #1C84FF;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 15px 20px;
  text-align: left;
  margin: 7px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 21px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
  text-align: center;
}

span.page-num {
  cursor: pointer;
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 2px;
}

img.delete {
  width: 20px;
  cursor: pointer;
}

img.search-icon {
  width: 30px;

}

.header-highlight {
  color: #0276FF;
}

.search-input {
    padding: 5px 10px;
    margin: 10px 5px 2px 5px;
    box-sizing: border-box;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    border-style: none;
    width: 85%;
}

.category-snippet-holder {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-bottom:17px;
}

.category-input {
    padding: 5px 10px;
    margin: 10px 5px 5px 5px;
    box-sizing: border-box;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    border-style: none;  
    width: 85%;
}

.category-button {
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  width: 15%;
  margin-top: 7px;
  color: white;
  padding: 8px 10px;
  align-self: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;  
  font-weight: bold;
}

.category-button:hover,
.category-button:focus {
    background-color: #1C84FF;
}


.search-button {
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    margin-top: 7px;
    color: white;
    align-self: center;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.search-button:hover,
.search-button:focus {
    background-color: #1C84FF;
}
